@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-secondary-300 min-h-screen w-full;
}

.header {
  @apply bg-primary-500 h-[88px] sm:h-[96px] w-full sticky top-0 transition-all duration-300 ease-in-out;
}

.header.show {
  @apply h-[154px] sm:h-[162px];
}

.main-container {
  @apply max-w-screen-lg m-auto flex flex-col justify-center gap-4 px-5 py-4 sm:px-10 sm:py-5;
}

.input {
  @apply w-full sm:w-96 px-4 py-3 rounded-full border-2 focus:border-primary-200 focus:outline-none;
}

.input[type='search']::-webkit-search-cancel-button {
  @apply cursor-pointer opacity-40;
}
